h1{
	text-shadow: 6px 6px 10px black;
	text-decoration: underline;
	background-color: red;
	color: black;
	font-family: times;
	font-size: 8em;
	font-weight: normal;
}
h2{
	color: black;
	font-family: Arial;
	background-color: red;
	font-size: 5em;
	font-weight: bold;}
html{
  background-image: url('Forêts 2.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: auto;}
p{text-align: center;}
